body {
  font-family: sans-serif;
}

webrtc-context {
  background: #eee;
}

webrtc-context > div video {
  width: 150px;
  display: inline;
}

webrtc-context video.speaking {
  box-shadow: 0 0 25px 3px rgba(180, 180, 255, 0.95);
}